body {
    background: url("https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png");
}

#footer {
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:90px;   /* Height of the footer */
    background: #D3D3D3;
}

.row{
display:block;
overflow:hidden;
clear:both;
}